In [1]:
import pandas as pd
mbon_skel = pd.read_csv('MBON-02-right.swc', comment='#', delim_whitespace=True, header=None, names=['n', 'type', 'x', 'y', 'z', 'radius', 'parent'])

In [2]:
import networkx as nx
# Create a copy of mbon_skel and remove the root node
mbon_skel_edges = mbon_skel[mbon_skel['parent'] != -1].copy()

# Convert the parent column to integer type
mbon_skel_edges['parent'] = mbon_skel_edges['parent'].astype(int)

# Create a networkx graph from mbon_skel_edges
mbon_graph = nx.from_pandas_edgelist(mbon_skel_edges, 'n', 'parent', create_using=nx.DiGraph)

In [3]:
import neuprint_functions
mbon_swc, relabel_dict = neuprint_functions.relabel_skeleton_swc(mbon_graph, mbon_skel, row_name="n", link_name="parent")

In [5]:
import pandas as pd
from io import StringIO

# Convert the mbon_swc string into a pandas DataFrame
mbon_swc_df = pd.read_csv(StringIO(mbon_swc), comment='#', delim_whitespace=True, header=None, names=['n', 'type', 'x', 'y', 'z', 'radius', 'parent'])

In [6]:
mbon_skel

           n  type          x           y          z  radius  parent
0          1     1  522475.16  116806.120  44597.950    3986      -1
1      46433     5  644139.60  108810.640  86597.770     365   46415
2      46434     0  644492.75  108351.234  86708.445     166   46415
3      42750     0  629421.20  108003.560  87292.020     278   42715
4      42751     0  629405.80  107586.100  87308.620     415   42715
...      ...   ...        ...         ...        ...     ...     ...
47394  45986     0  649749.90  116771.280  79515.880     573   45962
47395  46005     0  649891.25  116755.440  79626.190     531   45986
47396  46025     0  650016.00  116742.470  79644.090     423   46005
47397  46045     0  650075.25  116779.664  79482.836     151   46025
47398  46065     6  650051.06  116795.310  79363.960      81   46045

[47399 rows x 7 columns]

In [7]:
for i in range(mbon_swc_df.shape[0]):
    if mbon_swc_df.parent.iloc[i] >= mbon_swc_df.n.iloc[i]:
        print(i)